{% extends "base.html" %}

{% block title %}Music{% endblock %}

{% block music_active %}active{% endblock %}

{% block content %}
<link rel="stylesheet" href="/statics/css/comment.css">
<link rel='stylesheet'
  href='https://michael-zhigulin.github.io/mz-codepen-projects/Material%20Design%20UI%20Audio%20Player/font/font.css'>
<link rel="stylesheet" href="/statics/css/audioplayer.css">


<div class="container">
  <div class="player">
    <div class="like waves-effect waves-light" onclick="Favorite()" >
      <i class="icon-heart"></i>
    </div>
    <div class="mask"></div>
    <ul class="player-info info-one">
      <li>{{music.music_name}}</li>
      <li>{{music.musician}}</li>
      <li id="info-one-duration">undefined</li>
    </ul>
    <ul class="player-info info-two">
      <li>{{music.music_name}}</li>
      <li>{{music.musician}}</li>
      <li><span id="duration"></span><i> / </i><span id="info-two-duration">undefined</span></li>
    </ul>
    <div id="play-button" class="unchecked">
      <i class="icon icon-play"></i>
    </div>
    <div class="control-row">
      <div class="waves-animation-one"></div>
      <div class="waves-animation-two"></div>
      <div id="pause-button">
        <i class="icon"></i>
      </div>
      <div class="seek-field">
        <input id="audioSeekBar" min="0" max="228" step="1" value="0" type="range" oninput="audioSeekBar()"
          onchange="this.oninput()">
      </div>
      <div class="volume-icon">
        <i class="icon-volume-up"></i>
      </div>
      <div class="volume-field">
        <input type="range" min="0" max="100" value="100" step="1" oninput="audio.volume = this.value/100"
          onchange="this.oninput()">
      </div>
    </div>
  </div>
</div>
<audio id="audio-player" onloadedmetadata="LoadMetadata()" ontimeupdate="SeekBar()" ondurationchange="CreateSeekBar()" preload="auto">
  <source src={{ music.music_path }} type="audio/mpeg">
</audio>
<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.js'></script>
<script src="/statics/js/audioplayer.js"></script>
<script>
  function LoadMetadata() {
    audio_player = document.getElementById("audio-player");
    duration = audio_player.duration;
    document.getElementById("audioSeekBar").max = String(Math.floor(duration));
    duration = String(Math.floor(duration / 60)) + ":" + String(Math.floor(duration % 60));
    document.getElementById("info-one-duration").innerHTML = duration;
    document.getElementById("info-two-duration").innerHTML = duration;
  }
  async function Favorite() {
    let response = await fetch("/form_process_favorite");
  }
  if ({{ is_favorite }})
    $(".icon-heart").toggleClass("like-active");

</script>

<br><br>
<h3 class="heading">Add A Comment Below</h3>

<body>
  <div class="container">
    <!-- <form method="post" action="/form_post_comment"> -->
      <div class="form-floating">
        <textarea type="text" class="form-control" placeholder="Leave a comment here" id="comment_box" name="comment_box"
          style="height: 100px"></textarea>
        <label for="comment_box">Comments</label>
      </div>
      <div class="container text-center">
        <div class="row justify-content-end">
          <div class="col-1 align-self-center">
            <p class="counter">250</p>
          </div>
          <div class="col-1">
            <button onclick="postComment()" class="btn btn-primary">Post</button>
          </div>
        </div>
      </div>
    <!-- </form> -->
    <script>
      async function postComment(){
        comment = document.getElementById("comment_box").value;
        let response = await fetch('/form_post_comment',{method:'POST', body:comment});
        location.reload();
      }

    </script>
    <ul class="posts">
      {% for comment in comments %}
      <li>
        <div class="col">
          <div class="badge bg-primary text-wrap" style="margin-bottom: 20px; font-size: medium;">
            {{comment.username}}
          </div>
          <p class="fs-4" style="margin-left: 20px;">{{comment.comment_content}}</p>
          <div class="row">
            <p class="col fs-6">{{ comment.comment_time }}</p>
            <p class="col fs-6">#{{ comment.comment_id }}</p>
            <a class="btn btn-outline-info" style="width: 100px;"
              type="submit" href="/form_delete_comment?delete_comment={{ comment.comment_id }}">Delete</a>
          </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="/statics/js/comment.js"></script>

<script>
  async function deleteComment(comment_id) {
    let response = await fetch(`/form_delete_comment`,
    {method: 'POST', body: comment_id});
  }
</script>
{% endblock %}