{% extends "base.html" %}


{% block content %}




{% if exists("user") %}
<form class="d-flex" method="post" action="/zb_disable">
  <input class="form-control me-2" type="text" name="username" placeholder="Username" aria-label="Username">
  <input class="form-control me-2" type="password" name="password" placeholder="Password"
    aria-label="Password">
  <button class="btn btn-outline-success" type="submit">disbale</button>
</form>



    {% if user.is_superuser %}
    <div class="alert alert-success" role="alert">
      You are superuser!

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for applicant in applicants %},
          <tr style="vertical-align: middle;">
            <th scope="row">{{ loop.index1 }}</th>
            <td>{{ applicant.username }}</td>
            <td>{{ applicant.first_name }}</td>
            <td>{{ applicant.last_name }}</td>
            <td>{{ applicant.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <form class="d-flex" method="post" action="/zb_verify/0">
      <input class="form-control me-2" type="text" name="username" placeholder="Username" aria-label="Username">
      <button class="btn btn-outline-success" type="submit">fail</button>
    </form>

    <form class="d-flex" method="post" action="/zb_verify/2">
      <input class="form-control me-2" type="text" name="username" placeholder="Username" aria-label="Username">
      <button class="btn btn-outline-success" type="submit">pass</button>
    </form>



     <!-- <div class="input-group br">
        <input class="form-control search" type="search" name="search" placeholder="username">
        <span class="input-group-btn">
            <div class="btn-group dropup">
                <button class="btn btn-primary " type="button" href="/zb_verify/0">
                  fail
                </button>
                <button class="btn btn-primary " type="button" href="/zb_verify/2">
                  pass
                </button>
            </div>
        </span>
      </div> -->

    {% else if user.is_musician == 2 %}
    <div class="alert alert-success" role="alert">
        You are musician!
      </div>
    {% else %}
        {% if user.is_musician == 0 %}
        <h3>点击下方按钮以申请成为musician吧！</h3>
        <li class="nav-item">
          <a class="nav-link " href="/zb_be_musician">apply to be musician</a>
        </li>
        {% else if user.is_musician == 1 %}
        <h3>申请成为musician成功！</h3>
        {% endif %}
    {% endif %}


{% else %}



{% endif %}